
#footer.site
  background url('../imgs/banner/bg-footer-final.jpg') 
  min-height auto
  background-repeat no-repeat   
  background-position  center  
  @media screen and (min-width: desktop-min)   
    margin-top -653px   

  @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
    min-height 1217px 
    background-size cover
    padding-top 423px
    margin-top -393px
 
  .col-intro 
    @media screen and (min-width: desktop-min)   
      margin-top 740px 

    .title-large-full 
      font-size 135px   
      margin-left 12px
      @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
        font-size 53px   
        margin-left 0px
  .contact-box 
    text-align center
    margin-top 20px 
    .contacts-box
      margin 0 auto 
      margin-top 30px
    .button-princ 
      background-color transparent 
  .footer-navigation-main 
    margin-top 105px   
    p 
      color primaryColor 
      font-size 14px 
      line-height 18px
    ul
      list-style-type none
      li 
        line-height 23.8334px
        a 
          color primaryColor 
          font-size 17.8334px 
          font-weight bold 
          text-transform uppercase 
        li 
          a 
            text-transform initial 
            font-size 15.8334px 
        ul 
          padding 0px  
    .list-dotted li::before {
        content: "•";
        color: rgb(176, 110, 171);
        margin-right: 5px;
    } 
    .reg.t-s 
      a 
        font-size 14px 
        font-weight weight-normal
    .footer-column  
      border-left 2px dotted rgba(#000, 0.2) 
    .logo-footer 
      margin-bottom 27px 
    .p-sobre-footer 
      max-width 251px 
    i 
      font-size 19px
      color secondaryColor
      vertical-align text-top  


    
  .line-sobre-mob 
    margin-top 30px 
    p 
      color primaryColor 
    img 
      margin-bottom 20px 

#footer
  .direitos 
    background primaryColor 
    height 60px 
    margin-top 73px 
    display flex 
    align-items center 
    justify-content center  
    @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
      height 119px
      padding-bottom 124px
      padding-top 65px
    p 
      color branco  !important
      font-weight weight-strong 
      margin 0 
      @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
        margin-bottom -6px

#footer.blog 
  background-color tertiaryColor 
  margin-top 130px 
  height 218px    
  li, a, p, span, address, i
    color primaryColor 
    font-weight weight-strong 
  address 
    font-weight weight-normal 
  @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
    height 316px
  .line-cols 
    padding-top 35px 
    .fones 
      margin-top 15px
      @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
        margin-bottom 15px

    .col-nav
      .nav-menu 
        list-style none
        display flex
        gap 50px
        justify-content flex-end  
        text-transform uppercase
      .social-footer 
        gap 16px  
        margin-top 35px 
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
          margin-top 6px  
        @media screen and (min-width: desktop-min)
          display flex
          justify-content end 
          align-items center 
        a 
          padding 6px
          i
            font-size 20px 
        .line 
          width 117px
          height 2px
          background-color #1b1437
          margin-left 10px
          margin-right 10px
          position relative
          bottom -2.5px  
          @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
            display none 
        .follow-title-footer
          @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
            margin-bottom 9px
            display block
  .direitos 
    margin-top 22px 
 







    
                
                

