.contact-box 
    .title-large-min 
        display block 
        margin-top 65px 
        margin-bottom 30px  
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)    
            margin-top 17px 
            font-size 36px 
            margin-bottom 21px
    address 
        color primaryColor 
        font-size 14px    
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
            margin-bottom -9px
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
        .button-princ
            display block
            margin-bottom 17px 
        
    .contacts-box 
        display flex 
        max-width 571px 
        justify-content space-between 
        margin-top 30px   
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
            display block 
            width fit-content 

            

