// font name
font-primary =  Cera Pro

// size text
size-text-desktop = 15.8334px
size-text-mobile = 16px 
size-text-large = 16px
size-text-large-2 = 27.6666px
size-text-large-2-mobile = 14.3px
// size titles
size-title-large-desktop  = 76.123px
size-title-large-mobile = 32px

size-title-large-desktop-2  = 59px 
size-title-large-mobile-2 = 35px

size-title-large-min-desktop = 38.4492px
size-title-large-min-mobile = 20px

size-title-large-min-2-desktop = 29.6666px

size-title-large-full-desktop = 155px 
size-title-large-full-mobile = 45px

size-title-large-min-full-desktop = 60px
size-title-large-min-full-mobile = 30px 
size-title-large-min-full-mobile-2 = 36px 


site-title-large-int-green = 140px
site-title-large-int-green-mobile = 60px

site-title-large-min-int-green = 59.5px
site-title-large-min-int-green-mobile = 30px



size-title-large-mobile = 26px   



// font weight
weight-strong =  700
weight-normal =  400

// colors
primaryColor = #1b1437;
secondaryColor = #b06eab;
tertiaryColor = #cbdb2a;
primaryGray = #d1d0d7;
secondaryGray = #6d6e71; 
branco = white; 
primaryLightPink = #f7f2f7; 
lightGreen = #82d907;
primaryBlack = black;


// medias 
desktop-min = 64em;
mobile-min = 320px;
tablet-max = 63.9375em;
tablet-min = 40em;

// grid
// grid-container-desktop = 1416px;
// grid-container-desktop = 1316px;
grid-container-desktop = 1270px

grid-container-mobile = 320px;

//layout width 
max-layout = 1920px


// effect transition 
effect-transition = transform 1s