#agencia-certificada 
    background-color primaryColor
    height 628px 
        
    @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
        height 487px
    .col-img
        position relative
        .img-bg 
            position absolute 
            left -302px
            width 146%
            height 625px 
            object-fit cover 
    .col-text 
        /* Large and up */
        @media screen and (min-width: desktop-min) 
            padding-left 75px 
        .title-large  
            margin-bottom 14px
            margin-top 30px
            .bg-title
                font-size 67px  
                display block
                margin-top 9px  
                @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
                    font-size 37px 
                    height 32px
                    padding-top 2px

        p 
            font-size 17px 
            color branco 
            max-width 478px    
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                font-size 16px 
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)
            .selos
                width 100%