#contact-footer 
    background-repeat no-repeat  
    padding-top 75px  
    margin-top -100px 
    @media screen and (min-width: desktop-min)   
        background url('../imgs/banner/bg-result-form.jpg') 
        min-height 1160px 
        .line-form 
            margin-top 35px


    @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
        background url('../imgs/banner/bg-result-form-mobile.jpg')  
        background-repeat no-repeat   
        background-size cover  
        min-height 1430px  
        
    
    .col-intro
        .title-large 
            span 
                color branco 
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                    font-size 25px
            .bg-title 
                font-size 63.75px   
                width 99% 
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                    font-size 26.75px
                    width auto 
                    padding-top 2px
    .col-text
        @media screen and (min-width: desktop-min)   
            padding-right 95px
        p 
            color branco
        h3, h4, h5, h6 
            font-size 19.8334px 
            color tertiaryColor 
            font-weight weight-strong 
            margin-bottom 14px 
    .col-form 
        form 
            max-width 617.5px   
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                margin-top 20px

            div 
                width 100%  
                gap 10px 
            select 
                width 100%

            .submit-results-form 
                width: 100%;
                max-width: 270px;
                margin-left: auto;
                min-height: 40px;
                background-color: tertiaryColor;
                color: #1b1437;
                border: 0;
                transition: all .35s ease-in-out;
                font-weight: 700;  
                float right 
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                    max-width: 100%;
                i 
                    width 1em 
                    color #fff
                    margin-left 10px 
                &:hover 
                    background-color #a6b41e

