@import '../global-variables'
#otimizacao-performance  
    .prop-cube-rubiks
        position absolute
        left -13px
        margin-top -9px
        width 200px
    .title-large 
        margin-bottom 32px 
        margin-top 69px  
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
            margin-top 38px
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
            .img-notebook
                width 100%
        
    @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
        .pagespeed-logo 
            width 100% 
    
    .col-img    
        img
            @media screen and (min-width: desktop-min)   
                position absolute
                right 0
                max-width: 48%   
    .img-notebook
        @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
            width 100%